:root {
  --border-color: whiteSmoke;
  --outer-border: 12px;
  --inner-border: Calc(Var(--outer-border));
  --left-width: 100%;
  --right-width: 0%;
}

body {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: white;
}

* {
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 1.15em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#view {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#left-panel {
  width: Var(--left-width);
}
#right-panel {
  width: Var(--right-width);
}

#left-panel, #right-panel {
  transition: all 0.6s;
  overflow: hidden;
  top: 0px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: Var(--border-color);
}

.header {
  height: 6%;
}

.vis {
  border-left: Var(--outer-border) solid Var(--border-color);
  border-right: Var(--outer-border) solid Var(--border-color);
  border-bottom: Var(--outer-border) solid Var(--border-color);
  width: 100%;
  height: Calc(94%);
}

#left-vis {
  border-right: Var(--inner-border) solid Var(--border-color);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#right-vis {
  background: whiteSmoke;
  border-left: Var(--inner-border) solid Var(--border-color);
}

#judge-table-space {
  background: white;
  border: 1px solid lightGrey;
  overflow-y: scroll;
  position: relative;
  margin: auto;
  /* top: Var(--outer-border); */
  width: 100%;
  min-height: 25%;
  max-height: 100%;
}

#judge-table {
  width: 100%;
  border-collapse: collapse;
}

#judge-table th {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
  padding-right: 8px;
  border-bottom: 1px solid lightGrey;
}

#judge-table td, #judge-table th {
  padding: 4px;
}

td.vacancy {
  color: grey;
}

h1 {
  transition: all 0.6s;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
}

h2 {
  pointer-events: none;
  transition: all 0.6s;
  text-shadow:
   -1px -1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white,
   -2px -2px 1px white,
    2px -2px 1px white,
    -2px 2px 1px white,
     2px 2px 1px white;
  position: fixed;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  padding-left: Var(--inner-border);
}

#right-panel-toggle {
  transition: all 0.6s;
  text-align: right;
  position: fixed;
  top: Calc(100% - (Var(--outer-border) * 3.5));
  right: Calc(Var(--outer-border));
  width: Calc(Var(--outer-border) * 2);
  height: Calc(Var(--outer-border));
  margin: 0px;
  padding: 0px;
}

svg {
  display: block;
  margin: auto;
  overflow: hidden;
}

.court {
  pointer-events: all;
  height: 27px;
  max-width: 52px;
  border: 1px solid lightGrey;
  margin: auto;
  transition: all 0.2s;
  background: whiteSmoke;
  z-index: 1000;
}

.court:hover, .active-hover {
  background: lightyellow;
  border: 1px solid black;
}

.district.active-hover {
  fill: yellow;
  stroke-width: 1px;
  z-index: 1000;
}

.court-space {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid whiteSmoke; */
}

.court-label {
  pointer-events: none;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 6px;
  font-weight:lighter;
}
.appellate-column {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 72px;
  flex-grow: 0;
}
#supreme-level, #appellate-level, #district-level {
  flex: 0;
  padding-top: 12px;
  border: 1px solid lightGrey;
  border-bottom: none;
}

#district-level {
  overflow-y: scroll;
  border-bottom: 1px solid lightGrey;
  flex: 1;
}

#map-vis {
  position: fixed;
  bottom: Calc(5 * Var(--outer-border));
  left: Var(--outer-border);
}

#map-vis.hidden {
  visibility: hidden;
}

.judges-thumbnail {
  overflow:visible;
}

.active-court {
  background: lightYellow;
  border: 1px solid black;
}

.county {
  fill: whiteSmoke;
  stroke: white;
  stroke-width: 1px;
  pointer-events: none;
  z-index: 10;
}

.district {
  transition: all 0.05s;
  fill: none;
  stroke: black;
  stroke-width: .5px;
  z-index: 11;
  pointer-events: fill;
}

rect.district {
  fill: whiteSmoke;
}

path.district:hover, .district:hover {
  fill: Yellow;
  fill-opacity: 0.5;
  transition: all 0.2s;
}

.district.inactive-hover {
  stroke: lightGrey;
}

p.inactive-hover {
  color: lightGrey;
}

text.district {
  pointer-events: none;
  fill: black;
  stroke: none;
  color: black;
}

.inactive-hover circle, text.district.inactive-hover {
  fill: lightGrey;
  stroke: none;
}

svg text {
  pointer-events: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 11px;
}

circle.Republican {
  fill: crimson;
}

circle.Democratic {
  fill: dodgerblue;
}

.inactive-hover circle.Republican {
  fill: #ffcccc;
}

.inactive-hover circle.Democratic {
  fill: #cce0ff;
}

circle {
  pointer-events: none;
}

#preview-screen {
  transition: all 0.3s;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: white;
}

#left-footer, #right-footer {
  width: 100%;
  bottom: 0px;
  height: Calc(3 * Var(--outer-border));
  padding-bottom: Var(--outer-border);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#left-footer-left-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#left-footer-right-buttons {
  padding-right: Var(--outer-border);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-button {
  padding-left: Var(--outer-border);
  align-self: center;
  font-size: 18px;
}

input.footer-button {
  height: 12.5px;
  margin-bottom: 0px;
  /* align-self: center; */
}

/* MAKE SURE THIS NODEDEFAULT STYLE IS AT THE BOTTOM  */
/* IMPORTANT FOR RENDERING JUDGE COLORS APPROPRIATELY */
circle.nodeDefault { fill: black; }
.inactive-hover circle.nodeDefault { fill: lightGrey; }
circle.Vacant { fill: whiteSmoke; stroke: black; stroke-width: 0.4px; }
.inactive-hover circle.Vacant { fill: whiteSmoke; stroke: lightGrey; }
