:root {
  --border-color: whiteSmoke;
  --outer-border: 12px;
  --inner-border: Calc(Var(--outer-border));
  --left-width: 100%;
  --right-width: 0%;
}

body {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: white;
}

* {
  font-family: 'Barlow Condensed', sans-serif;
  line-height: 1.15em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#view {
  display: flex;
  margin: 0px;
  padding: 0px;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#left-panel {
  width: Var(--left-width);
}
#right-panel {
  width: Var(--right-width);
}

#left-panel, #right-panel {
  transition: all 0.6s;
  overflow: hidden;
  top: 0px;
  height: 100%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: Var(--border-color);
}

.header {
  height: 6%;
}

.vis {
  border-left: Var(--outer-border) solid Var(--border-color);
  border-right: Var(--outer-border) solid Var(--border-color);
  border-bottom: Var(--outer-border) solid Var(--border-color);
  width: 100%;
  height: Calc(94%);
}

#left-vis {
  border-right: Var(--inner-border) solid Var(--border-color);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#right-vis {
  border-left: Var(--inner-border) solid Var(--border-color);
}

#judge-table-space {
  border: 1px solid lightGrey;
  overflow-y: scroll;
  position: relative;
  margin: auto;
  /* top: Var(--outer-border); */
  width: 100%;
  height: 50%;
}

#judge-table {
  width: 100%;
  border-collapse: collapse;
  /* border: 0.5px solid lightGrey; */
}

#judge-table th {
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  text-align: left;
  padding-right: 8px;
  /* background-color: whiteSmoke; */
  border-bottom: 1px solid lightGrey;
}

#judge-table td, #judge-table th {
  padding: 4px;
}

h1 {
  transition: all 0.6s;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
}

h2 {
  text-shadow:
   -1px -1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white,
   -2px -2px 1px white,
    2px -2px 1px white,
    -2px 2px 1px white,
     2px 2px 1px white;
  position: fixed;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  padding-left: Var(--inner-border);
}

#right-panel-toggle {
  transition: all 0.6s;
  text-align: center;
  position: fixed;
  top: Calc(100% - (Var(--outer-border) * 6));
  right: Calc(Var(--outer-border) - 1px);
  background: Var(--border-color);
  width: Calc(Var(--outer-border) * 3);
  height: Calc(Var(--outer-border) * 4);
  margin: 0px;
  padding: 0px;
}

svg {
  display: block;
  margin: auto;
  overflow: hidden;
}

.court {
  pointer-events: all;
  height: 33px;
  max-width: 41px;
  border: 0.5px solid lightGrey;
  margin: auto;
  transition: all 0.2s;
  background: whiteSmoke;
  z-index: 1000;
}

.court:hover, .active-hover {
  background: lightyellow;
  border: 1px solid black;
}

.district.active-hover {
  fill: yellow;
  stroke-width: 1px;
  z-index: 1000;
}

.court-space {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid whiteSmoke; */
}

.court-label {
  pointer-events: none;
  text-align: center;
  font-size: 13px;
  padding: 0px;
  margin: 0px;
  padding-top: 2px;
  padding-bottom: 6px;
  font-weight:lighter;
}
.appellate-column {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-basis: 86px;
  flex-grow: 0;
}
#supreme-level, #appellate-level, #district-level {
  padding-top: 12px;
  border: 1px solid lightGrey;
  border-bottom: none;
}

#district-level {
  height: 100%;
  border-bottom: 1px solid lightGrey;
}

#map-vis {
  position: fixed;
  bottom: Var(--outer-border);
  left: Var(--outer-border);
}

.judges-thumbnail {
  overflow:visible;
}

.active-court {
  background: lightYellow;
  border: 1px solid black;
}

.county {
  fill: whiteSmoke;
  stroke: white;
  stroke-width: 1px;
  pointer-events: none;
  z-index: 10;
}

.district {
  transition: all 0.05s;
  fill: none;
  stroke: black;
  stroke-width: .5px;
  z-index: 11;
  pointer-events: fill;
}

rect.district {
  fill: whiteSmoke;
}

path.district:hover, .district:hover {
  fill: Yellow;
  fill-opacity: 0.5;
  transition: all 0.2s;
}

.district.inactive-hover {
  stroke: lightGrey;
}

p.inactive-hover {
  color: lightGrey;
}

text.district {
  pointer-events: none;
  fill: black;
  stroke: none;
  color: black;
}

.inactive-hover circle, text.district.inactive-hover {
  fill: lightGrey;
  stroke: none;
}

svg text {
  pointer-events: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 11px;
}

circle.Republican {
  fill: red;
}

circle.Democratic {
  fill: dodgerblue;
}

circle.Vacant {
  fill: none;
  stroke: black;
  stroke-width: 0.3px;
}

.inactive-hover circle.Republican {
  fill: #ffcccc;
}

.inactive-hover circle.Democratic {
  fill: #cce0ff;
}

.inactive-hover circle.Vacant {
  stroke: lightGrey;
}

circle {
  pointer-events: none;
}
