:root {
  --border-color: white;
  --light-line-color: lightGrey;
  --line-color: black;
  --outer-border: 24px;
  --inner-border: Calc(Var(--outer-border));
  --left-width: 100%;
  --right-width: 0%;
}

body {
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: white;
}

* {
  font-family: 'EB Garamond', sans-serif;
  line-height: 1.15em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#preview-screen {
  transition: all 0.1s;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: Var(--border-color);
}

#close-preview-screen {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: Var(--outer-border);
  line-height: 1em;
  font-size: 48px;
  cursor: pointer;
}

h3 {
  font-weight: lighter;
  font-size: 18px;
}

#preview-screen-container {
  width: 500px;
  margin: auto;
}

#view {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

#overview-panel {
  width: Var(--left-width);
}

#detail-panel {
  transition: all 0.2s;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 2000;
}

#detail-x {
  position: fixed;
  top: Calc(2 * Var(--outer-border));
  right: Calc((100% - 820px)/2 + Var(--outer-border));
  cursor: pointer;
}

#detail-body {
  width: 820px;
  height: Calc(100% - 2*Var(--outer-border));
  margin-top: Var(--outer-border);
  margin-bottom: Var(--outer-border);
  margin-left: auto;
  margin-right: auto;
  border: 1px solid Var(--line-color);
  background: Var(--border-color);
}

#overview-panel, #detail-panel {
  transition: all 0.6s;
  top: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  background: Var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header {
  height: Calc(4*Var(--outer-border));
}

.vis {
  border-left: Var(--outer-border) solid Var(--border-color);
  border-right: Var(--outer-border) solid Var(--border-color);
  width: 100%;
}

#overview-vis {
  border-right: Var(--inner-border) solid Var(--border-color);
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: Calc(100vh - (7 * Var(--outer-border)));
}

#right-vis {
  background: Var(--border-color);
  border-left: Var(--inner-border) solid Var(--border-color);
}

#court-timeline {
  height: Calc(16*Var(--outer-border));
  border-top: 1px solid Var(--line-color);
  padding-top: Var(--outer-border);
  padding-bottom: Var(--outer-border);
  overflow-y: scroll;
  font-size: 18px;
  line-height: 1.35em;
}

#judge-table-space {
  background: Var(--border-color);
  border-top: 1px solid Var(--line-color);
  height: Calc(100vh - 25*Var(--outer-border));
  position: relative;
  overflow-y: scroll;
  margin: auto;
  width: 100%;
}

#judge-table {
  width: 100%;
  overflow-y: scroll;
  border-collapse: collapse;
  font-size: 14px;
}

#judge-table-footer {
  background: Var(--border-color);
  position: relative;
  height: Calc(3 * Var(--outer-border));
  padding-top: Var(--outer-border);
  border-top: 1px solid Var(--line-color);
}

#judge-table tbody {
  overflow: auto;
  width: 100%;
}

#judge-table th {
  font-weight: 500;
  line-height: 1.5em;
  text-align: left;
  padding-right: 8px;
  border-bottom: 1px solid Var(--line-color);
}

#judge-table td, #judge-table th {
  padding: 4px;
}

td span { font-family: 'Barlow Condensed', sans-serif; }

td .mono { font-family: 'Anonymous Pro', monospace; }

td div {
  position: relative;
  left: 0px;
  height: 12px;
  background: none;
  display: inline-block;
}
.aba_rating, .app_pres_party { width: 12px; }
.aba_rating, .app_pres_party, .years_on_court { margin-right: 6px; }
.aba_rating.ewq                         { background: seaGreen;       }
.aba_rating.wq                          { background: mediumSeaGreen; }
.aba_rating.q                           { background: lightGreen;     }
.aba_rating.nq                          { background: orange;         }
.aba_rating.na                          { background: lightGrey; width: 0px; }

.app_pres_party.democratic              { background: dodgerBlue; }
.app_pres_party.federalist              { background: black; }
.app_pres_party.jeffersonian-republican { background: mediumSeaGreen; }
.app_pres_party.none-assign             { background: lightGrey; }
.app_pres_party.none-reassign           { background: lightGrey; }
.app_pres_party.republican              { background: crimson; }
.app_pres_party.whig                    { background: gold; }
.app_pres_party.independent             { background: lightGrey; }
.app_pres_party.other                   { background: lightGrey; }

.year_on_court {
  background: lightGrey;
  width: 2px;
}

td.vacancy {
  color: grey;
}

h1 {
  font-weight: 400;
  padding-top: 4px;
  transition: all 0.6s;
  text-align: center;
  font-size: 36px;
  pointer-events: none;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin-top: -4px;
  pointer-events: none;
}

.level-label {
  pointer-events: none;
  transition: all 0.6s;
  text-shadow:
   -1px -1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white,
   -2px -2px 1px white,
    2px -2px 1px white,
    -2px 2px 1px white,
     2px 2px 1px white;
  position: fixed;
  text-align: left;
  margin: 0px;
  padding: 0px;
}

#legend {
  border-top: 1px solid Var(--line-color);
  padding-top: Var(--outer-border);
  /* background: Var(--border-color); */
  position: fixed;
  top: Calc(12 * Var(--outer-border));
  left: Var(--outer-border);
  text-align: left;
  text-shadow:
   -1px -1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
     1px 1px 1px white,
   -2px -2px 1px white,
    2px -2px 1px white,
    -2px 2px 1px white,
     2px 2px 1px white;
}

svg {
  display: block;
  margin: auto;
  overflow: hidden;
}

.court {
  pointer-events: all;
  height: 27px;
  width: 52px;
  border: 1px solid lightGrey;
  margin: auto;
  transition: all 0.2s;
  background: whiteSmoke;
}

.court:hover, .active-hover {
  cursor: pointer;
  background: lemonChiffon;
  border: 1px solid black;
}

.district.active-hover {
  fill: lemonChiffon;
  stroke-width: 1px;
  z-index: 1000;
}

.court-space {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;
}

.court-space::-webkit-scrollbar {
  display: none;
}

.court-label {
  font-family: 'Barlow Condensed', sans-serif;
  pointer-events: none;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  padding-top: 1px;
  margin-bottom: -2px;
  font-weight:lighter;
}

.court-box { padding-bottom: 8px; }

.appellate-column {
  border-left: 1px solid Var(--light-line-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  width: 72px;
  flex-grow: 0;
  margin-bottom: 10px;
}

#supreme-level .appellate-column, #Federal.appellate-column, #Federal-Circuit.appellate-column {
  border-right: 1px solid Var(--light-line-color);
}
#supreme-level, #appellate-level, #district-level {
  flex: 0;
  padding-top: Calc(Var(--outer-border) / 2);
  border-top: 1px solid Var(--line-color);
}
#district-level {
  overflow-y: scroll;
  flex: 1;
  height: 100%;
}

#map-vis {
  position: fixed;
  bottom: Calc(4 * Var(--outer-border));
  left: Var(--outer-border);
}

#map-vis.hidden {
  visibility: hidden;
}

.judges-thumbnail {
  overflow:visible;
}

.active-court {
  background: lightYellow;
  border: 1px solid black;
}

.county {
  fill: whiteSmoke;
  stroke: white;
  stroke-width: 1px;
  pointer-events: none;
  z-index: 10;
}

.district {
  transition: all 0.05s;
  fill: none;
  stroke: black;
  stroke-width: .5px;
  z-index: 11;
  pointer-events: fill;
}

rect.district {
  fill: whiteSmoke;
}

path.district:hover, .district:hover {
  fill: Yellow;
  fill-opacity: 0.5;
  transition: all 0.2s;
}

.district.inactive-hover {
  stroke: lightGrey;
}

p.inactive-hover {
  color: lightGrey;
}

text.district {
  pointer-events: none;
  fill: black;
  stroke: none;
  color: black;
}

.inactive-hover circle, text.district.inactive-hover {
  fill: lightGrey;
  stroke: none;
}

svg text {
  pointer-events: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 11px;
}

circle.Republican {
  fill: crimson;
}

circle.Democratic {
  fill: dodgerblue;
}

.inactive-hover circle.Republican { fill: #ffcccc; }

.inactive-hover circle.Democratic { fill: #cce0ff; }

circle { pointer-events: none; }

#overview-footer {
  bottom: 0px;
  width: Calc(100vw-(2*Var(--outer-border)));
  height: Calc(3 * Var(--outer-border));
  padding-top: Var(--outer-border);
  padding-bottom: Var(--outer-border);
  margin-left: Var(--outer-border);
  margin-right: Var(--outer-border);
  border-top: 1px solid Var(--line-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#overview-footer-left-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#overview-footer-right-buttons {
  /* padding-right: Var(--inner-border); */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#overview-footer-left-buttons .footer-button, #overview-footer-right-buttons .footer-button {
  padding-left: Var(--outer-border);
  align-self: flex-end;
  font-size: 18px;
  cursor: pointer;
}

label.footer-button {
  padding-right: 2px;
}

#about-button.footer-button {
  padding-left: 0;
}

#right-panel-button {
  right: 0px;
}
#right-panel-button-text {
  cursor: pointer;
}

.footer-button .hidden {
  display: none;
}

.footer-button .pres-option {
  position: relative;
}

input.footer-button {
  height: 12.5px;
  margin-bottom: 2px;
}

.footer-dropdown {
  position: relative;
  display: inline-block;
  min-width: 200px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  bottom: Var(--outer-border);
  min-width: 200px;
  padding: Var(--outer-border);
  padding-bottom: Calc(0.25*Var(--outer-border));
  border-top: 1px solid Var(--line-color);
}

.dropdown-content .dropdown-row {
  color: black;
  padding-bottom: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-dropdown:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
  font-weight: normal;
  color: black;
}

a:hover { border-bottom: 1px solid Var(--line-color); }

/* MAKE SURE THIS NODEDEFAULT STYLE IS AT THE BOTTOM  */
/* IMPORTANT FOR RENDERING JUDGE COLORS APPROPRIATELY */
circle.nodeDefault { fill: black; }
.inactive-hover circle.nodeDefault { fill: lightGrey; }
circle.Vacant { fill: whiteSmoke; stroke: black; stroke-width: 0.4px; }
.inactive-hover circle.Vacant { fill: whiteSmoke; stroke: lightGrey; }
